/* Color Variables */

$color-babyblue: #51ddfc;
$color-teal: #58e1c1;
$color-coral: #fd7856;
$color-pink: #e4757a;
$color-purple: #927bc1;
$color-grey: #777;
$color-white: #fff; 

/* Media Query Variables*/

$break: 768px;
